[package]
name = "encointer-api-client-extension"
version = "0.8.2"
edition = "2021"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
log = "0.4.14"
serde_json = { version = "1.0.79"}
serde = { features = ["derive"], version = "1.0.132" }

# encointer deps
encointer-primitives = { git = "https://github.com/encointer/pallets", branch = "master" }
encointer-ceremonies-assignment = { git = "https://github.com/encointer/pallets", branch = "master" }
encointer-node-notee-runtime = {path = "../../runtime"}

# scs deps
substrate-api-client = { git = "https://github.com/scs/substrate-api-client.git", branch = "polkadot-v0.9.37-tag-v0.7.0"}
substrate-client-keystore = { git = "https://github.com/scs/substrate-api-client.git", branch = "polkadot-v0.9.37-tag-v0.7.0"}

# substrate deps
sp-core = { version = "7.0.0", git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.37" }
